@using System.Web.Http
@using System.Web.Http.Description
@using PSNCCloud.Api.Areas.HelpPage.Models
@using PSNCCloud.Api.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>
<div>
    <p>@description.Documentation</p>

    <h2>Request Information</h2>

    <h3>URI Parameters</h3>
    @Html.DisplayFor(m => m.UriParameters, "Parameters")

    @* PSNC customisation *@
    @if (Model.IsPaged)
    {
        <h3>Pagination URI Parameters</h3>
        <table class="help-page-table">
            <thead>
                <tr><th>Name</th><th>Description</th><th>Type</th><th>Additional information</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="parameter-name">PageIndex</td>
                    <td class="parameter-documentation">
                        <p>Page index, zero based index (for first page index is 0).</p>
                    </td>
                    <td class="parameter-type">
                        integer
                    </td>
                    <td class="parameter-annotations">
                        <p>Optional</p>
                    </td>
                </tr>
                <tr>
                    <td class="parameter-name">PageSize</td>
                    <td class="parameter-documentation">
                        <p>Number of items in a page.</p>
                    </td>
                    <td class="parameter-type">
                        integer
                    </td>
                    <td class="parameter-annotations">
                        <p>Optional</p>
                    </td>
                </tr>
                <tr>
                    <td class="parameter-name">OrderBy</td>
                    <td class="parameter-documentation">
                        <p>Sorting fields separated by comma. For each listed field (asc or desc) should be provided. E.g. FieldName1;DESC,FieldName2;ASC </p>
                    </td>
                    <td class="parameter-type">
                        integer
                    </td>
                    <td class="parameter-annotations">
                        <p>Optional</p>
                    </td>
                </tr>
            </tbody>
        </table>
    }

    <h3>Body Parameters</h3>

    <p>@Model.RequestDocumentation</p>

    @if (Model.RequestModelDescription != null)
    {
        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        if (Model.RequestBodyParameters != null)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>Request Formats</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }

    <h2>Response Information</h2>

    <h3>Resource Description</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3>Response Formats</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

</div>